@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Poppins:wght@300&display=swap');

:root{
    --border-color:#f4f4f4;
    --border-color2:#5d5d5d;
    --blue: #0D99FF;
    --blue2: #077ed3;
    --red: #D62828;
    --green: #0ead69;
}

body,html,*{
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Inter', sans-serif;
}
svg, path{
    pointer-events: none;
}
input,select{
    outline: none;
}
body{
    height: 100vh;
    width: 100%;
}
.nav{
    position: relative;
    top:0;
    left:0;
    display: flex;
    width:100%;
    background-color: #111111;
    height: 3rem;
    color: white;
    justify-content: baseline;
    align-items: center;
    justify-items: center;
    z-index: 20;
}
div.logo,.studentPhoto{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}
div.logo{
    background-image: url(../assets/inp.jpg);
    height: 2rem;
    width: 2rem;
    
    cursor: pointer;
}

.firstContent, .userInfo{
    display: flex;
    height: 100%;
}
.firstContent{
    padding:.4rem;
    position: relative;
    background-color: #111111;
    z-index: 20;
}
.firstContent, .aside{
    border-right: 1px solid #44444481;
    width: 20%;
}
.disconnect{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #262626;
    z-index: 25;
    left: 0;
    bottom: 6rem;
    padding: .3rem .2rem;
    text-align: start;
    border-radius: 5px;
    opacity: 0;
    transition: bottom .3s ease-in-out,
                opacity .3s ease-in-out .3s;
}
.disconnect.actif{
    bottom: -6rem;
    opacity: 1;
}
.disconnect> button{
    background-color: inherit;
    color: var(--border-color);
    width: 100%;
    height: 3rem;;
    text-align: start;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding: .2rem .3rem;
    border-radius: 5px;
}
.disconnect> button:hover{
    background-color: #8b8b8b44;
}
.userInfo{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: baseline;
    margin-left: 3rem;
}
.userName{
    font-size: 1rem;
}
.userEmail{
    font-size: .6rem;
    margin-top: 2px;
}

.main{
    height: calc(100% - 3rem);
    width: 100%;
    background-color: #fff;
    display: flex;
}
.aside{
    position: relative;
    top:0;
    left:0;
    min-height: 100%;
    padding-top: 4.6rem;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-color: #fff;
}
.photoContainer{
    width: 100%;
    min-height: 30vh;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: .5rem .8rem;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.photoContainer > div{
    height: 130px;
    width: 90%;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.photo{
    position: relative;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.no-student{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: .5rem 1rem;
    transition: filter .3s ease-in-out;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}
.no-student:hover,.topContainer{
    filter : drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.311))
}

.left-studentInfo{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.left-studentInfo{
    width: 100%;
    padding: .5rem .8rem;
}
.left-studentInfo > img{
    width: 1.2rem;
    height: 1.2rem;
}
.left-studentInfo > input{
    text-align: start;
    width: 100%;
    padding-left: .5rem;
    background-color: inherit;
}
.left-studentInfo:nth-child(1), .left-studentInfo:nth-child(3){
    background-color: #f5f5f5;
}
.aside > div:nth-child(2){
    border-bottom: 1px solid var(--border-color);
}
.add{
    background-color: transparent;
    position: absolute;
    bottom:0;
    right:0;
    height: 2rem;
    width: 2rem;
    background: #fff url(../assets/add.png) center center no-repeat;
    background-size: cover;
    transform: rotate(45deg) translate(50%, 50%);
    cursor: pointer;
    border-radius: 100%;
    transition: transform .3s ease-in-out;
    pointer-events: none;
    opacity: 0;
}
.add:hover{
    transform: rotate(45deg) translate(50%,50%) scale(1.1);
}
.container{
    height: 100%;
    width: 80%;
    padding: 2rem 1.8rem 0 1.8rem ;
}
.topContainer{
    height: 25vh;
    width: 100%;
    background-color: var(--border-color);
    position: relative;
    border-radius: .3rem;
    z-index: 15;
}
.mainContainer{
    height: calc(100vh - (25vh + 5rem));
    overflow-y: scroll;
    padding: 0 .7rem 2rem .7rem;
    position:relative;
}
.mainContainer::-webkit-scrollbar {
    width: 0; 
    background-color: transparent; 
}
  
.mainContainer::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.student{
    display: grid;
    grid-template-columns: 18% 1fr 3rem 1fr 5rem;
    grid-template-rows: repeat(1,minmax(3.5rem,auto));
    align-items: center;
    justify-items: start;
    justify-content: start;
    background-color: var(--border-color);
    border-radius: .3rem;
    padding: 0 .5rem;
    min-height: 3rem;
    gap:5rem;
    margin-top: .6rem;
    transition: filter .3s ease-in-out;
}
.student:hover{
    filter: drop-shadow(0 0 0.2rem var(--blue));
}
.studentPhoto{
    background-image: url(../assets/user.png);
    height: 2.5rem;
    width: 2.5rem;
    margin-right:.3rem;
    cursor: pointer;
}
.studentInfoContent{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: space-between;
    min-width: 15%;
    font-size: .8rem;
}
.name,.jdTime{
    font-size: .8rem;
}
.class,.school,.matricule{
    font-size: .6rem
}
.jdTime,.update{
    text-align: start;
    background: #fff;
    border-radius: .3rem;
    padding: .3rem .5rem;
    white-space: nowrap;
}

.jdTime{
    color: var(--red);
    min-width: 3rem;
    text-align: center;
}
.whenever{
    display: flex;
    justify-content: baseline;
    justify-items:baseline;
    justify-self: start;
}
.studentInfo > .class{
    font-size: .7rem;
}
.seeMore,.update,.studentInfo > .class{
    padding: .3rem .4rem;
    background-color: var(--blue);
    color: white;
    border-radius: .3rem;
    cursor: pointer;
    transition: background-color .3 ease-in-out;
}
.seeMore:hover,.update:hover,.studentInfo > .class:hover{
    background-color: var(--blue2);
}
.studentInfo > .class{
    cursor: auto;
}
.header{
    padding: .3rem 4.6rem;
    display: flex;
    position:absolute;
    bottom: 0;
    gap: 6rem;
    width: 100%;
    background-color: var(--blue);
    color: #fefefe;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
.header > span:nth-child(1){
    width: 20%;
}
.studentInfo{
    display: grid;
    grid-template-columns: 18% 1fr 3rem 1fr 5rem;
    grid-template-rows: repeat(1,minmax(3.5rem,auto));
    align-items: center;
    justify-items: center;
    background-color: var(--border-color);
    border-radius: .3rem;
    padding: 0 .5rem;
    min-height: 3rem;
    gap:5rem;
    margin-top: .6rem;
    transition: filter .3s ease-in-out;
    position: relative;
}
.studentInfo:hover{
    filter: drop-shadow(0 0 0.2rem var(--blue));
}

.searchConsultation{
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    min-height: 2.5rem;
    width: 28%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: .3rem;
    padding-left: .4rem;
}
.searchConsultation > input{
    height: 100%;
    padding: .3rem .5rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    width: 75%;
    outline: none;
}
.searchConsultation > button,.searchConsultation > div {
    background-color: inherit;
    height: 24px;
    width: 24px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}
.searchConsultation > button:hover > svg{
    fill: #000000b2;
    transition: fill .3s ease-in-out;
}
.searchConsultation > button > img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.visible,.editJtContainer.visible{
    opacity: 1;
    pointer-events: auto;
}
.modal{
    height: 100%;
    width: 100%;
    display: none;
    background-color: #00000047;
    position: absolute;
    top:0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 50;
}
.nothing{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    color: var(--border-color2);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
    text-align: center;
    line-height: 100%;
}
#inputSrch{
    display: none;
}
#inputSrch.actif{
    display: block;
}
.editJtContainer{
    position: absolute;
    opacity: 1  ;
    pointer-events: none;
    opacity: 0;
    width: 18%;
    height: 90%;
    background: #fff;
    border-radius: .5rem;
    filter : drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.311));
    right: 32%;
    z-index: 20;
    transition: opacity .3s ease-in-out;
}
.editJtContainer > div{
    display: flex;
    justify-content: baseline;
    justify-items: center;
    align-items: center;
    gap: .5rem;
    height: 100%;
    padding-top: auto;
    padding: 0 .3rem;
}
.editJtContainer > div > input{
    width: 65%;
    height: 50%;
    background-color: var(--border-color);
}
.editJtContainer > div > button.editJt{
    padding: .3rem .4rem;
    border-radius: .4rem;
    color: #fff;
    background-color: var(--blue);
    cursor: pointer;
}
.editJtContainer > div > button.close{
    background-color: transparent;
    cursor: pointer;
}
.editJtContainer > div > button.close > svg{
    stroke: var(--border-color2);
}
/*-------------------------------------------------------------------*/
.select-container {
    position: absolute;
    left: 1rem;
    top: .5rem;
    width: 200px;
}

label {
background-color: transparent;
padding: 0 5px;
transition: top 0.3s;
pointer-events: none;
}

select {
width: 100%;
padding: 10px;
padding: .5rem .3rem;
border-radius: 5px;
border: none
}

select:focus + label, select:not(:placeholder-shown) + label {
    top: -30px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f0f0f0;
}
option{
    padding: .5rem .6rem;
}
